<!DOCTYPE html>
<html>
    <head>
        <title>로그인</title>
    </head>
    <body>
        <form action="/login" method="post">
            <input type="text" name="userid" placeholder="id" /><br />
            <input type="password" name="password" placeholder="password" /><br />
            <input type="submit" />
        </form>
    </body>
</html>