<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Main Screen</title>
    <div class="topnav"><a class="title" href="/">메인으로</a>
        <% if (!isAuthenticated) { %>
        <a href="/login">로그인</a>
        <a href="/signup">회원가입</a>
        <% } else { %>
        <a href="/userscore">내 정보</a>
        <a href="/logout">로그아웃</a>
        <% } %>
    </div>
    <div>
        <a href="/"><img id="logo" src="image/logo7.png" alt="My Image"></a>
        <hr id="logoLine">
    </div>
</head>

<body>
    <div id="box">
    <h1 id="menu">메뉴 선택</h1>
    <% if (isAuthenticated) { %>
    <button><a href="/userscore">내 성적 입력/수정</a></button>
    <button><a href="/recom">대학교 추천</a></button>
    <button><a href="/review">대학교 리뷰</a></button>
    <% } else { %>
    <button class="btndisabled" title="로그인 후 이용해주세요!">내 성적 입력/수정</button>
    <button class="btndisabled" title="로그인 후 이용해주세요!">대학교 추천</button>
    <button class="btndisabled" title="로그인 후 이용해주세요!">대학교 리뷰</button>
    <% } %>
    <button><a href="/criterias/1">대학별 평가 기준 보기</a></button>
    </div>
</body>

</html>