<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Main Screen</title>
    <div class="topnav"><a class="title" href="/">Project Name</a>
        <% if (!isAuthenticated) { %>
        <a href="/login">로그인</a>
        <a href="/signup">회원가입</a>
        <% } else { %>
        <a href="/userscore">내 정보</a>
        <a href="/logout">로그아웃</a>
        <% } %>
    </div>
    <h1><a href="/">Project Name</a></h1>
</head>

<body>
    <% if (isAuthenticated) { %>
    <button><a href="/recom">대학교 추천</a></button>
    <button><a href="/review">대학교 리뷰</a></button>
    <% } else { %>
    <button class="btndisabled" title="로그인 후 이용해주세요!">대학교 추천</button>
    <button class="btndisabled" title="로그인 후 이용해주세요!">대학교 리뷰</button>
    <% } %>
    <button><a href="/criterias/1">대학별 평가 기준 보기</a></button>
</body>

</html>