<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
        <title>Main Screen</title>
        <button><a href="/login">로그인</a></button>
        <button><a href="/signup">회원가입</a></button>
        <h1>Project Name</h1>
    </head>
    <body>
        <button><a href="/recom">대학교 추천</a></button>
        <button><a href="/review">대학교 리뷰</a></button>
    </body>
</html>