<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Main Screen</title>
    <% if (!isAuthenticated) { %>
    <button><a href="/login">로그인</a></button>
    <button><a href="/signup">회원가입</a></button>
    <% } else { %>
    <a>로그인 성공</a>
    <button><a href="/logout">로그아웃</a></button>
    <% } %>
    <h1>Project Name</h1>
</head>

<body>
    <button><a href="/criterias/1">대학별 반영비 보기</a></button>
    <form align="center">
        국어
        <input type="number" name="kor_p" placeholder="백분위" />
        <input type="number" name="kor_s" placeholder="표준점수" /><br />
        수학
        <input type="number" name="mat_p" placeholder="백분위" />
        <input type="number" name="mat_s" placeholder="표준점수" /><br />
        영어
        <input type="number" name="eng" placeholder="등급" />
        <br />
        탐구
        <input type="number" name="inq_p" placeholder="백분위" />
        <input type="number" name="inq_s" placeholder="표준점수" /><br />
        <br />
        <input type="submit" a href="/criterias" />
    </form>

</body>

</html>