<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
        <title>Main Screen</title>
        <% if (!isAuthenticated) { %>
        <button><a href="/login">로그인</a></button>
        <button><a href="/signup">회원가입</a></button>
        <% } else { %>
        <button><a href="/userscore">내 정보</a></button>
        <button><a href="/logout">로그아웃</a></button>
        <% } %>
        <h1>Project Name</h1>
    </head>
    <body>
        <button><a href="/showreview">리뷰보기</a></button>
    </body>
</html>