<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Main Screen</title>
    <div class="topnav"><a class="title" href="/">Project Name</a>
        <% if (!isAuthenticated) { %>
        <a href="/login">로그인</a>
        <a href="/signup">회원가입</a>
        <% } else { %>
        <a href="/userscore">내 정보</a>
        <a href="/logout">로그아웃</a>
        <% } %>
    </div>
    <h1><a href="/">Project Name</a></h1>
</head>

<body>
    <p align="center">내 대학별 점수</p>

    <table>
        <tr>
            <th>대학</th>
            <th>점수</th>
        </tr>
        <% for (let grade of list) {  %>
        <tr align="center">
            <td><%= grade.univ_name %></td>
            <td><%= grade.grade %></td>
        </tr>
        <% } %>
    </table>
</body>

</html>