<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
        <title>Main Screen</title>
        <button><a href="/login">로그인</a></button>
        <button><a href="/signup">회원가입</a></button>
        <h1>Project Name</h1>
    </head>
    <body>
        <p align="center">리뷰를 보고싶은 대학과 학과를 입력해주세요!</p>
        <form align="center">
            대학교 이름
            <input type="text" name="univ_name"/><br/>
            대학교 학과
            <input type="text" name="univ_department"/><br/>
            <input type="submit"/>
        </form>
        <br/>
        <br/>
        <p align="center">해당 대학과 학과에 해당하는 리뷰는 아래와 같습니다</p>
        <table border="2" align="center" width="1000px" cellspacing="0">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>작성자</th>
                    <th>대학교 이름</th>
                    <th>학과 이름</th>
                    <th>평점</th>
                    <th>내용</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td>1</td>
                    <td>김훈민</td>
                    <td>아주대학교</td>
                    <td>소프트웨어학과</td>
                    <td>5</td>
                    <td>유튜브에 개발자 되지 말아요 검색해서 보고 오세요</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>