<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Main Screen</title>
    <div class="topnav"><a class="title" href="/">Project Name</a>
        <% if (!isAuthenticated) { %>
        <a href="/login">로그인</a>
        <a href="/signup">회원가입</a>
        <% } else { %>
        <a href="/userscore">내 정보</a>
        <a href="/logout">로그아웃</a>
        <% } %>
    </div>
    <a href="/"><img id="logo" src="image/logo.png" alt="My Image"></a>
</head>

<body>
    <p align="center">나의 표준점수 합: <%=std_score%></p>
    <p align="center">나의 추천 학과</p>

    <table>
        <tr>
            <th>대학</th>
            <th>학과</th>
            <th>표준점수</th>
        </tr>
        <% for (let res of result) {  %>
        <tr align="center">
            <td><%= res.University.univ_name %></td>
            <td><%= res.depart_name %></td>
            <td><%= res.standard_score %></td>
        </tr>
        <% } %>
    </table>
</body>

</html>