<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Main Screen</title>
    <div class="topnav"><a class="title" href="/">메인으로</a>
        <% if (!isAuthenticated) { %>
        <a href="/login">로그인</a>
        <a href="/signup">회원가입</a>
        <% } else { %>
        <a href="/userscore">내 정보</a>
        <a href="/logout">로그아웃</a>
        <% } %>
    </div>
    <a href="/"><img id="logo" src="../image/logo7.png" alt="My Image"></a>
    <hr id="logoLine">
</head>

<body>
    <div id="box">
    <h1 id="menu">내 대학별 점수</h1>
    <table>
        <tr>
            <th>대학</th>
            <th>점수</th>
        </tr>
        <% for (let grade of list) {  %>
        <tr align="center">
            <td><%= grade.univ_name %></td>
            <td><%= grade.grade %></td>
        </tr>
        <% } %>
    </table>
    <button><a href="/recom">뒤로가기</a></button>
    </div>
</body>

</html>