<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Main Screen</title>
    <div class="topnav"><a class="title" href="/">메인으로</a>
        <% if (!isAuthenticated) { %>
        <a href="/login">로그인</a>
        <a href="/signup">회원가입</a>
        <% } else { %>
        <a href="/userscore">내 정보</a>
        <a href="/logout">로그아웃</a>
        <% } %>
    </div>
    <div>
        <a href="/"><img id="logo" src="image/logo7.png" alt="My Image"></a>
        <hr id="logoLine">
    </div>
</head>

<body>
    <div id="box">
    <h1 id="menu">아래의 정보를 입력해주세요.</h1>
    <form action="/signup" method="post">
        <input class="login" type="text" name="userid" placeholder="id" /><br />
        <input class="login" type="password" name="password" placeholder="password" /><br />
        <input class="login" type="text" name="name" placeholder="이름" /><br />
        <select class="insert" name="division">
            <option value="1">문과</option>
            <option value="2">이과</option>
        </select>
        <input id="loginSubmit" type="submit" />
    </form>
    </div>
</body>

</html>