<!DOCTYPE html>
<html>
    <head>
        <title>회원 가입</title>
    </head>
    <body>
        <form action="/signup" method="post">
            <input type="text" name="name" placeholder="이름" /><br />
            <input type="text" name="userid" placeholder="id" /><br />
            <input type="password" name="password" placeholder="password" /><br />
            <input type="submit" />
        </form>
    </body>
</html>