<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
        <title>Main Screen</title>
        <button><a href="/login">로그인</a></button>
        <button><a href="/signup">회원가입</a></button>
        <h1>Project Name</h1>
    </head>
    <body>
        <p align="center">리뷰를 작성해주세요!</p>
        <form align="center">
            대학교 이름
            <input type="text" name="univ_name"/><br/>
            대학교 학과
            <input type="text" name="univ_department"/><br/>
            평점
            <input type="number" name="univ_grade"/><br/>
            리뷰 내용
            <input type="text" name="univ_review"/><br/>
            <input type="submit"/>
        </form>
    </body>
</html>