.topnav {
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: #393e46;
  top: 0;
  left: 0;
  right: 0;
}
.topnav .title {
  color: white;
  float: left;
  margin: 10px 0;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: white;
}
.topnav a {
  color: white;
  float: right;
  margin: 10px 0;
  text-decoration: none;
  margin-right: 40px;
  font-weight: 600;
}
h1 {
  margin: 150px 0;
  text-align: center;
}
h1 a {
  color: #393e46;
  text-decoration: none;
  font-size: 64px;
}
div,
p,
span {
  font-weight: 100;
}

/* 테이블 */
.tablecontainer {
  overflow-x: auto;
}
table {
  margin: auto;
  border-collapse: collapse;
  border-radius: 2px;

  margin-bottom: 100px;
  margin-top: 20px;
  width: fit-content;
  text-align: center;
}
th,
td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  word-break: keep-all;
  font-weight: 300;
  width: fit-content;
  padding: 8px 30px;
}
th {
  background-color: #f3f3f3;
  color: black;
  font-weight: normal;
}
tr:nth-child(even) {
  background-color: #fbfbfb;
}

/* 버튼 */
button {
  cursor: pointer;
  display: block;
  width: 300px;
  padding: 20px 0px;
  margin: 10px auto;
  background-color: #4ecca3;
  color: white;
  font-weight: 400;
  border-radius: 2px;
  border: none;
  transition-duration: 0.4s;
  transition: all 0.5s;
}
.btndisabled {
  opacity: 0.6;
  cursor: not-allowed;
  color: black;
}
button a {
  font-weight: 400;
}
button:hover {
  background-color: #4ecca3; /* Green */
  /*color: white;*/
}
button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button a:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover a {
  padding-right: 25px;
}
button:hover a:after {
  opacity: 1;
  right: 0;
}
/*로고이미지 */
#logo {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}  
